
// Variables
$light: #fff;
$primary-color: #F8B412;
$black: #000;
$primary-font:'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$tf-font: 'themefisher-font';
$montserrat: 'Montserrat', sans-serif;