<section class="promo-video section bg-gray">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="title text-center" >
				<h2>Our Promo <span class="color">Video</span></h2>
				<div class="border"></div>
				<p>Vestibulum nisl tortor, consectetur quis imperdiet bibendum, laoreet sed arcu. Sed condimentum iaculis ex, in faucibus lorem accumsan non. Donec mattis tincidunt metus. Morbi sed tortor a risus luctus dignissim.</p>
			</div>
			<!-- /section title -->
			<div class="col-md-8 col-md-offset-2">
				<iframe src="https://player.vimeo.com/video/51119176" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>