 <!--
Welcome Slider
==================================== -->

<section class="hero-area bg-1 background">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="images/slider/showcase.jpg" alt="">
			</div>
			<div class="col-md-6">
				<div class="block">
					<h1>Digital Creative Marketplace</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<a data-scroll href="#services" class="btn btn-main">Explore Us</a>
				</div>
			</div>
		</div>
	</div>
</section>	