<!-- 
  Fixed Navigation
  ==================================== -->
  <header class="navigation navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <!-- responsive nav button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- /responsive nav button -->

        <!-- logo -->
        <a class="navbar-brand logo" href="index.html">
          Swift
        </a>
        <!-- /logo -->
      </div>

      <!-- main nav -->
      <nav class="collapse navbar-collapse navbar-right">
        <ul id="nav" class="nav navbar-nav menu">
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="about.html">Themes</a></li>
          <li><a href="service.html">Templates</a></li>
          <li><a href="portfolio.html">Support</a></li>
          <li><a href="team.html">Blog</a></li>
          <li><a href="contact.html">My Account</a></li>
          <li><a href="contact.html">Cart</a></li>
        </ul>
      </nav>
      <!-- /main nav -->

    </div>
  </header>
  <!--
  End Fixed Navigation
  ==================================== -->