<!-- Start Pricing section
		=========================================== -->
	<section class="pricing-table parallax-section" id="pricing">
		<div class="container">
			<div class="row">
				
				<!-- section title -->
			    <div class="title title-white text-center " >
		        	<h2>Our Greatest<span class="color"> Plans</span></h2>
			        <div class="border"></div>
			        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, officia.</p>
			    </div>
			    <!-- /section title -->
				
				<!-- single pricing table -->
				<div class="col-md-4 col-sm-6 col-xs-12" >
					<div class="pricing-item">
						
						<!-- plan name & value -->
						<div class="price-title">
							<h3>Basic</h3>
							<strong class="value">$99</strong>
							<p>Perfect for single freelancers who work by themselves</p>
						</div>
						<!-- /plan name & value -->
						
						<!-- plan description -->
						<ul>
							<li><i class="tf-ios-arrow-forward"></i> 1GB Disk Space</li>
							<li><i class="tf-ios-arrow-forward"></i> 10 Email Account</li>
							<li><i class="tf-ios-arrow-forward"></i> Script Installer</li>
							<li><i class="tf-ios-arrow-forward"></i> 1 GB Storage</li>
							<li><i class="tf-ios-arrow-forward"></i> 10 GB Bandwidth</li>
							<li><i class="tf-ios-arrow-forward"></i> 24/7 Tech Support</li>
						</ul>
						<!-- /plan description -->
						
						<!-- signup button -->
						<a class="btn btn-main" href="#">Signup</a>
						<!-- /signup button -->
						
					</div>
				</div>
				<!-- end single pricing table -->
				
				<!-- single pricing table -->
				<div class="col-md-4 col-sm-6 col-xs-12  "  >
					<div class="pricing-item">
					
						<!-- plan name & value -->
						<div class="price-title">
							<h3>Basic</h3>
							<strong class="value">$99</strong>
							<p>Suitable for small businesses with up to 5 employees</p>
						</div>
						<!-- /plan name & value -->
						
						<!-- plan description -->
						<ul>
							<li><i class="tf-ios-arrow-forward"></i> 1GB Disk Space</li>
							<li><i class="tf-ios-arrow-forward"></i> 10 Email Account</li>
							<li><i class="tf-ios-arrow-forward"></i> Script Installer</li>
							<li><i class="tf-ios-arrow-forward"></i> 1 GB Storage</li>
							<li><i class="tf-ios-arrow-forward"></i> 10 GB Bandwidth</li>
							<li><i class="tf-ios-arrow-forward"></i> 24/7 Tech Support</li>
						</ul>
						<!-- /plan description -->
						
						<!-- signup button -->
						<a class="btn btn-main" href="#">Signup</a>
						<!-- /signup button -->
						
					</div>
				</div>
				<!-- end single pricing table -->
				
				<!-- single pricing table -->
				<div class="col-md-4 col-sm-6 col-xs-12 ">
					<div class="pricing-item">
						
						<!-- plan name & value -->
						<div class="price-title">
							<h3>Basic</h3>
							<strong class="value">$99</strong>
							<p>Great for large businesses with more than 5 employees</p>
						</div>
						<!-- /plan name & value -->
						
						<!-- plan description -->
						<ul>
							<li><i class="tf-ios-arrow-forward"></i> 1GB Disk Space</li>
							<li><i class="tf-ios-arrow-forward"></i> 10 Email Account</li>
							<li><i class="tf-ios-arrow-forward"></i> Script Installer</li>
							<li><i class="tf-ios-arrow-forward"></i> 1 GB Storage</li>
							<li><i class="tf-ios-arrow-forward"></i> 10 GB Bandwidth</li>
							<li><i class="tf-ios-arrow-forward"></i> 24/7 Tech Support</li>
						</ul>
						<!-- /plan description -->
						
						<!-- signup button -->
						<a class="btn btn-main" href="#">Signup</a>
						<!-- /signup button -->
						
					</div>
				</div>
				<!-- end single pricing table -->
				
				
			</div>       <!-- End row -->
		</div>   	<!-- End container -->
	</section>   <!-- End section -->
		