<!-- Start Services Section
		==================================== -->
		
		<section class="services"  id="services">
			<div class="container">
				<div class="row">
					
					<!-- section title -->
					<div class="title text-center" >
						<h2>Our <span class="color">Services</span></h2>
						<div class="border"></div>
						<p>Vestibulum nisl tortor, consectetur quis imperdiet bibendum, laoreet sed arcu. Sed condimentum iaculis ex, in faucibus lorem accumsan non. Donec mattis tincidunt metus. Morbi sed tortor a risus luctus dignissim.</p>
					</div>
					<!-- /section title -->
					
                    <!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding" >
						<div class="service-block color-bg text-center">
							<div class="service-icon text-center">
								<i class="tf-ios-copy-outline"></i>
							</div>
							<h3>WordPress Theme</h3>
							<p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
						</div>
					</div>
                    <!-- End Single Service Item -->
                    
                    <!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding" >
						<div class="service-block text-center">
							<div class="service-icon text-center">
								<i class="tf-ios-alarm-outline"></i>
							</div>
							<h3>Responsive Design</h3>
							<p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
						</div>
					</div>
                    <!-- End Single Service Item -->
                    
                    <!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding"  >
						<div class="service-block color-bg text-center">
							<div class="service-icon text-center">
								<i class="tf-ios-book-outline"></i>
							</div>
							<h3>Media &amp; Advertisement</h3>
							<p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
						</div>
					</div>
					<!-- End Single Service Item -->
					
					<!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding" >
						<div class="service-block  text-center">
							<div class="service-icon text-center">
								<i class="tf-ios-briefcase-outline"></i>
							</div>
							<h3>Graphic Design</h3>
							<p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
						</div>
					</div>
					<!-- End Single Service Item -->
					
					<!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding"  >
						<div class="service-block color-bg text-center">
							<div class="service-icon text-center">
								<i class="tf-ios-crop"></i>
							</div>
							<h3>Apps Development</h3>
							<p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
						</div>
					</div>
					<!-- End Single Service Item -->
					
					<!-- Single Service Item -->
					<div class="col-md-4 col-sm-6 col-xs-12  no-padding">
						<div class="service-block text-center">
							<div class="service-icon text-center">
								<i class="tf-ios-home-outline"></i>
							</div>
							<h3>Networking</h3>
							<p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
						</div>
					</div>
					<!-- End Single Service Item -->
						
				</div> 		<!-- End row -->
			</div>   	<!-- End container -->
		</section>   <!-- End section -->