<!-- Start Our Team
		=========================================== -->
	<section class="team" id="team">
		<div class="container">
			<div class="row">
			
				<!-- section title -->
				<div class="title text-center " >
					<h2>Our <span class="color">Team</span></h2>
					<div class="border"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quasi tempora obcaecati, quis similique quos.</p>
				</div>
				<!-- /section title -->
				
				<!-- team member -->
				<div class="col-md-4 col-sm-6 " >
	               <div class="team-member text-center">
						<div class="member-photo">
							<!-- member photo -->
							<img class="img-responsive" src="images/team/member-1.jpg" alt="Meghna">
							<!-- /member photo -->
							
							<!-- member social profile -->
							<div class="mask">
								<ul class="clearfix">
									<li><a href="#"><i class="tf-social-facebook"></i></a></li>
									<li><a href="#"><i class="tf-social-twitter"></i></a></li>
									<li><a href="#"><i class="tf-social-googleplus-outline"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>					
								</ul>
							</div>
							<!-- /member social profile -->
						</div>
						
						<!-- member name & designation -->
						<div class="member-content">
							<h3>Michael Jonson</h3>
							<span>Web Developer</span>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
						</div>
						<!-- /member name & designation -->
					   
	               </div>
	            </div>
				<!-- end team member -->
				
				<!-- team member -->
				<div class="col-md-4 col-sm-6 " >
	               <div class="team-member text-center">
						<div class="member-photo">
							<!-- member photo -->
							<img class="img-responsive" src="images/team/member-2.jpg" alt="Meghna">
							<!-- /member photo -->
							
							<!-- member social profile -->
							<div class="mask">
								<ul class="clearfix">
									<li><a href="#"><i class="tf-social-facebook"></i></a></li>
									<li><a href="#"><i class="tf-social-twitter"></i></a></li>
									<li><a href="#"><i class="tf-social-googleplus-outline"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								</ul>
							</div>
							<!-- /member social profile -->
						</div>
						
						<!-- member name & designation -->
						<div class="member-content">
							<h3>Michael Jonson</h3>
							<span>Web Developer</span>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
						</div>
						<!-- /member name & designation -->
					</div>
	            </div>
				<!-- end team member -->
				
				<!-- team member -->
				<div class="col-md-4 col-sm-6 ">
	               <div class="team-member text-center">
						<div class="member-photo">
							<!-- member photo -->
							<img class="img-responsive" src="images/team/member-3.jpg" alt="Meghna">
							<!-- /member photo -->
							
							<!-- member social profile -->
							<div class="mask">
								<ul class="clearfix">
									<li><a href="#"><i class="tf-social-facebook"></i></a></li>
									<li><a href="#"><i class="tf-social-twitter"></i></a></li>
									<li><a href="#"><i class="tf-social-googleplus-outline"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>					
								</ul>
							</div>
							<!-- /member social profile -->
						</div>
						
						<!-- member name & designation -->
						<div class="member-content">
							<h3>Michael Jonson</h3>
							<span>Web Developer</span>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
						</div>
						<!-- /member name & designation -->
						
	               </div>
	            </div>
				<!-- end team member -->
			</div>  	<!-- End row -->
		</div>   	<!-- End container -->
	</section>   <!-- End section -->